#advice {
  position: relative;
  padding: 188px 0 205px;
  width: 100%;
  background-color: $wheat;
  scroll-margin-top: -75px;

  @media screen and (max-width: 1800px) {
    padding: 160px 0 170px;
  }

  @media screen and (max-width: 1550px) {
    padding: 120px 0 140px;
  }

  @media screen and (max-width: 1300px) {
    padding: 110px 0 120px;
  }

  @media screen and (max-width: 1150px) {
    padding: 90px 0 100px;
  }

  @media screen and (max-width: 992px) {
    padding: 70px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 50px 0;
  }

  .global-wrapper {
    position: relative;
    margin: 0 auto;
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: $radius;
    background-color: $light-green;

    @media screen and (max-width: 1550px) {
      width: 88%;
    }

    @media screen and (max-width: 1300px) {
      width: 90%;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      padding: 50px 0;
    }

    @media screen and (max-width: 576px) {
      padding: 50px 0 20px;
    }

    .info {
      position: relative;
      margin-left: 140px;
      max-width: 490px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1800px) {
        margin-left: 100px;
      }

      @media screen and (max-width: 1550px) {
        margin-left: 70px;
      }

      @media screen and (max-width: 1400px) {
        max-width: 460px;
        margin-left: 60px;
      }

      @media screen and (max-width: 1300px) {
        max-width: 420px;
        margin-left: 50px;
      }

      @media screen and (max-width: 1150px) {
        max-width: 360px;
        margin-left: 40px;
      }

      @media screen and (max-width: 992px) {
        max-width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-bottom: 20px;
      }

      @media screen and (max-width: 576px) {
        margin-bottom: 10px;
      }

      .title {
        @include title;

        @media screen and (max-width: 992px) {
          text-align: center;
        }

      }

      .paragraph {
        position: relative;
        max-width: 80%;
        margin: 37px 0;
        font-family: "PP Pangram Sans Rounded medium", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: 0em;
        text-align: left;
        color: $blue;

        @media screen and (max-width: 1800px) {
          font-size: 20px;
          margin: 34px 0;
        }

        @media screen and (max-width: 1550px) {
          font-size: 18px;
          margin: 28px 0;
        }

        @media screen and (max-width: 1300px) {
          font-size: 17px;
          margin: 24px 0;
        }

        @media screen and (max-width: 1150px) {
          font-size: 16px;
          margin: 22px 0;
        }

        @media screen and (max-width: 992px) {
          text-align: center;
        }

        @media screen and (max-width: 750px) {
          font-size: 15px;
          margin: 19px 0;
        }

        @media screen and (max-width: 576px) {
          margin: 17px 0;
        }

      }

      .give-advice {
        position: relative;
        width: fit-content;
        display: flex;
        padding: 23px 33px;
        text-decoration: none;
        border: 1px solid $blue;
        border-radius: 10px;
        background-color: transparent;
        user-select: none;
        transition: background-color 0.8s $ease-power4-out;

        @media screen and (max-width: 1800px) {
          padding: 21px 30px;
        }

        @media screen and (max-width: 1550px) {
          padding: 18px 26px;
        }

        @media screen and (max-width: 1300px) {
          padding: 17px 25px;
        }

        @media screen and (max-width: 1150px) {
          padding: 16px 23px;
        }

        @media screen and (max-width: 750px) {
          padding: 15px 21px;
        }

        p {
          position: relative;
          font-family: "PP Pangram Sans Rounded medium", sans-serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0em;
          text-align: center;
          color: $blue;

          @media screen and (max-width: 1800px) {
            font-size: 23px;
          }

          @media screen and (max-width: 1550px) {
            font-size: 21px;
          }

          @media screen and (max-width: 1300px) {
            font-size: 19px;
          }

          @media screen and (max-width: 1150px) {
            font-size: 17px;
          }

          @media screen and (max-width: 1150px) {
            font-size: 16px;
          }

        }

        &:hover {
          background-color: #e2f8e4;
        }

      }

    }

    .advice-wrapper {
      position: relative;
      padding-right: 79px;
      height: 100%;
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 1800px) {
        padding-right: 30px;
      }

      @media screen and (max-width: 1300px) {
        padding-right: 10px;
      }

      @media screen and (max-width: 992px) {
        padding-right: 0;
      }

      @media screen and (max-width: 576px) {
        flex-direction: column;
      }

      .advice-left, .advice-right {
        position: relative;
        margin-right: 49px;
        height: 100%;

        @media screen and (max-width: 1550px) {
          margin-right: 30px;
        }

        @media screen and (max-width: 1150px) {
          margin-right: 20px;
        }

        @media screen and (max-width: 992px) {
          margin-right: 35px;
        }

        @media screen and (max-width: 576px) {
          margin-right: 0;
        }

        .advice {
          position: relative;
          max-width: 341px;
          padding: 28px 34px 0 34px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: $radius;
          border: 1px solid $green;
          background-color: $wheat;

          @media screen and (max-width: 1700px) {
            max-width: 300px;
            padding: 20px 20px 0 20px;
          }

          @media screen and (max-width: 1550px) {
            max-width: 270px;
          }

          @media screen and (max-width: 1300px) {
            max-width: 250px;
            padding: 15px 15px 0 15px;
          }

          @media screen and (max-width: 1150px) {
            max-width: 220px;
          }

          @media screen and (max-width: 576px) {
           margin-top: 30px;
          }

          img {
            position: relative;
            height: 138px;
            width: auto;

            @media screen and (max-width: 1800px) {
              height: 130px;
            }

            @media screen and (max-width: 1550px) {
              height: 95px;
            }

            @media screen and (max-width: 1300px) {
              height: 80px;
            }

            @media screen and (max-width: 1150px) {
              height: 65px;
            }

          }

          .name {
            position: relative;
            margin: 21px 0 10px;
            font-family: Patsy Sans, sans-serif;
            font-size: 32px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0em;
            text-align: center;
            color: $blue;

            @media screen and (max-width: 1800px) {
              font-size: 30px;
            }

            @media screen and (max-width: 1550px) {
              font-size: 28px;
              margin: 18px 0 8px;
            }

            @media screen and (max-width: 1300px) {
              font-size: 25px;
              margin: 16px 0 8px;
            }

            @media screen and (max-width: 1150px) {
              font-size: 22px;
              margin: 15px 0 6px;
            }

          }

          .quote {
            position: relative;
            margin-bottom: 5px;
            font-family: "PP Pangram Sans Rounded medium", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.2;
            letter-spacing: 0em;
            text-align: center;
            color: $blue;

            @media screen and (max-width: 1800px) {
              font-size: 17px;
            }

            @media screen and (max-width: 1550px) {
              font-size: 16px;
              margin-bottom: 0;
            }

            @media screen and (max-width: 1300px) {
              font-size: 15px;
              margin-bottom: -7px;
            }

            @media screen and (max-width: 1150px) {
              font-size: 14px;
              margin-bottom: -7px;
            }

          }

          .type {
            position: relative;
            user-select: none;
            width: fit-content;
            margin: 0 auto;
            padding: 10px 18px;
            border-radius: 50px;
            transform: translateY(50%);
            background-color: $light-blue;

            p {
              position: relative;
              font-family: "PP Pangram Sans Rounded medium", sans-serif;
              font-size: 16px;
              font-weight: 600;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: center;
              color: $wheat;
            }

            &.prof {
              background-color: $pink;
            }

          }

          &:nth-child(1) {
            margin-bottom: 49px;

            @media screen and (max-width: 1550px) {
              margin-bottom: 35px;
            }

            @media screen and (max-width: 1150px) {
              margin-bottom: 30px;
            }

            @media screen and (max-width: 992px) {
              margin-bottom: 35px;
            }

          }

        }

      }

      .advice-left {
        transform: translateY(-65px);

        @media screen and (max-width: 1800px) {
          transform: translateY(-60px);
        }

        @media screen and (max-width: 1550px) {
          transform: translateY(-40px);
        }

        @media screen and (max-width: 1300px) {
          transform: translateY(-35px);
        }

        @media screen and (max-width: 992px) {
          transform: translateY(0);
        }

      }

      .advice-right {
        transform: translateY(65px);

        @media screen and (max-width: 1800px) {
          transform: translateY(60px);
        }

        @media screen and (max-width: 1550px) {
          transform: translateY(40px);
        }

        @media screen and (max-width: 1300px) {
          transform: translateY(35px);
        }

        @media screen and (max-width: 992px) {
          transform: translateY(0);
          margin-right: 0;
        }

        @media screen and (max-width: 576px) {
          display: flex;
          margin-top: 5px;
          flex-direction: column-reverse;
        }

      }

    }

  }

}