#advice {
  position: relative;
  padding: 188px 0 205px;
  width: 100%;
  background-color: $wheat;
  scroll-margin-top: -75px;
  display: none;

  .global-wrapper {
    position: relative;
    margin: 0 auto;
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: $radius;
    background-color: $light-green;

    .info {
      position: relative;
      margin-left: 140px;
      padding: 170px 0 170px;
      max-width: 490px;
      display: flex;
      flex-direction: column;

      .title {
        position: relative;
        font-family: "PP Pangram Sans Rounded bold", sans-serif;
        font-size: 64px;
        font-weight: 400;
        line-height: 73px;
        letter-spacing: 0em;
        text-align: left;
        color: $blue;
      }

      .paragraph {
        position: relative;
        max-width: 80%;
        margin: 37px 0;
        font-family: "PP Pangram Sans Rounded medium", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: $blue;
      }

      .give-advice {
        position: relative;
        width: fit-content;
        display: flex;
        padding: 23px 33px;
        text-decoration: none;
        border: 1px solid $blue;
        border-radius: 10px;
        background-color: transparent;
        user-select: none;
        transition: background-color 0.8s $ease-power4-out;

        p {
          position: relative;
          font-family: "PP Pangram Sans Rounded medium", sans-serif;
          font-size: 24px;
          font-weight: 400;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: center;
          color: $blue;
        }

        &:hover {
          background-color: #e2f8e4;
        }

      }

    }

    .advice-wrapper {
      position: relative;
      padding-right: 79px;
      height: 100%;
      display: flex;
      flex-direction: row;

      .advice-left, .advice-right {
        position: relative;
        margin-right: 49px;
        height: 100%;

        .advice {
          position: relative;
          max-width: 341px;
          padding: 28px 34px 0 34px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: $radius;
          border: 1px solid $green;
          background-color: $wheat;

          img {
            position: relative;
            height: 138px;
            width: auto;
          }

          .name {
            position: relative;
            margin: 21px 0 10px;
            font-family: Patsy Sans, sans-serif;
            font-size: 32px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: center;
            color: $blue;
          }

          .quote {
            position: relative;
            margin-bottom: 5px;
            font-family: "PP Pangram Sans Rounded medium", sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
            color: $blue;
          }

          .type {
            position: relative;
            user-select: none;
            width: fit-content;
            margin: 0 auto;
            padding: 10px 18px;
            border-radius: 50px;
            transform: translateY(50%);
            background-color: $light-blue;

            p {
              position: relative;
              font-family: "PP Pangram Sans Rounded medium", sans-serif;
              font-size: 16px;
              font-weight: 600;
              line-height: 18px;
              letter-spacing: 0em;
              text-align: center;
              color: $wheat;
            }

            &.prof {
              background-color: $pink;
            }

          }

          &:nth-child(1) {
            margin-bottom: 49px;
          }

        }

      }

      .advice-left {
        transform: translateY(-65px);
      }

      .advice-right {
        transform: translateY(65px);
      }

    }

  }

}