#demo {
  position: relative;
  background-color: $wheat;
  width: 100%;
  padding: 190px 0 210px;
  overflow: clip;
  scroll-margin-top: 45px;

  .global-wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 86%;
    justify-content: space-between;
    align-items: flex-end;

    .left-part {
      position: relative;
      height: 480px;
      width: 810px;
      z-index: 1;

      img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
        user-focus: none;
        user-select: none;
      }

    }

    .right-part {
      position: relative;
      max-width: 40%;
      display: flex;
      flex-direction: column;

      .title {
        position: relative;
        margin-bottom: 16px;
        font-family: "PP Pangram Sans Rounded bold", sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 73px;
        letter-spacing: 0em;
        text-align: left;
        color: $blue;
      }

      .sub-title {
        position: relative;
        max-width: 80%;
        font-family: "PP Pangram Sans Rounded medium", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: $blue;
      }

      a {
        position: relative;
        margin-top: 16px;
        text-decoration: none;

        .button {
          position: relative;
          font-family: "PP Pangram Sans Rounded", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: $pink;
          text-decoration: underline;
          text-underline-offset: 6px;
          text-underline-color: $pink;
        }

      }

    }

  }

  .vector-left {
    position: absolute;
    bottom: -150px;
    left: -175px;
    height: 575px;
    width: auto;
    z-index: 0;
    stroke-dasharray: 890;
    stroke-dashoffset: 770;
  }

  .vector-right {
    position: absolute;
    top: -250px;
    right: -250px;
    height: 600px;
    width: auto;
    z-index: 0;
    stroke-dasharray: 870;
    stroke-dashoffset: 650;
  }

}