#demo {
  position: relative;
  background-color: $wheat;
  width: 100%;
  padding: 190px 0 210px;
  overflow: clip;
  scroll-margin-top: 45px;

  @media screen and (max-width: 1800px) {
    padding: 160px 0 180px;
  }

  @media screen and (max-width: 1550px) {
    padding: 140px 0 160px;
  }

  @media screen and (max-width: 1150px) {
    padding: 120px 0 140px;
  }

  @media screen and (max-width: 992px) {
    padding: 100px 0 80px;
  }

  @media screen and (max-width: 700px) {
    padding: 80px 0 50px;
  }

  @media screen and (max-width: 576px) {
    padding: 60px 0 30px;
  }

  .global-wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 86%;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;

    @media screen and (max-width: 1550px) {
      width: 88%;
    }

    @media screen and (max-width: 1300px) {
      width: 90%;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 576px) {
      width: 92%;
    }

    .left-part {
      position: relative;
      height: auto;
      width: 810px;
      z-index: 1;

      @media screen and (max-width: 1800px) {
        width: 790px;
      }

      @media screen and (max-width: 1700px) {
        width: 750px;
      }

      @media screen and (max-width: 1550px) {
        width: 620px;
      }

      @media screen and (max-width: 1300px) {
        width: 520px;
      }

      @media screen and (max-width: 1150px) {
        width: 420px;
      }

      @media screen and (max-width: 992px) {
        width: 600px;
        margin: 15px auto 0;
      }

      @media screen and (max-width: 700px) {
        width: 450px;
        margin: 0 auto;
      }

      @media screen and (max-width: 576px) {
        width: 100%;
      }

      img {
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
        user-focus: none;
        user-select: none;
      }

    }

    .right-part {
      position: relative;
      max-width: 40%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1550px) {
        max-width: 45%;
      }

      @media screen and (max-width: 1150px) {
        max-width: 48%;
      }

      @media screen and (max-width: 992px) {
        max-width: 70%;
        margin: 0 auto;
      }

      @media screen and (max-width: 700px) {
        max-width: 100%;
      }

      .title {
        @include title;
        margin-bottom: 16px;

        @media screen and (max-width: 1550px) {
          margin-bottom: 14px;
        }

        @media screen and (max-width: 1150px) {
          margin-bottom: 12px;
        }

      }

      .sub-title {
        position: relative;
        margin-bottom: 16px;
        max-width: 80%;
        font-family: "PP Pangram Sans Rounded medium", sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0em;
        text-align: left;
        color: $blue;

        @media screen and (max-width: 1800px) {
          font-size: 21px;
        }

        @media screen and (max-width: 1700px) {
          font-size: 20px;
        }

        @media screen and (max-width: 1550px) {
          font-size: 18px;
          margin-bottom: 14px;
        }

        @media screen and (max-width: 1150px) {
          font-size: 16px;
          margin-bottom: 12px;
        }

        @media screen and (max-width: 576px) {
         max-width: none;
        }

      }

      a {
        position: relative;
        text-decoration: none;
        user-select: none;

        .button {
          position: relative;
          font-family: "PP Pangram Sans Rounded", sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0em;
          text-align: left;
          color: $pink;
          text-decoration: underline;
          text-underline-offset: 6px;
          text-underline-color: $pink;
          transition: text-underline-offset 0.4s $ease-power4-out;

          @media screen and (max-width: 992px) {
            font-size: 17px;
          }

          @media screen and (max-width: 700px) {
            font-size: 16px;
          }

        }

        &:hover {
          .button {
            text-underline-offset: 3px;
          }
        }

      }

    }

  }

  .vector-left {
    position: absolute;
    bottom: -150px;
    left: -175px;
    height: 575px;
    width: auto;
    z-index: 0;
    stroke-dasharray: 890;
    stroke-dashoffset: 770;

    @media screen and (max-width: 1700px) {
      height: 500px;
      bottom: -130px;
      left: -150px;
    }

    @media screen and (max-width: 1550px) {
      height: 400px;
      bottom: -100px;
      left: -110px;
    }

    @media screen and (max-width: 1300px) {
      height: 360px;
      bottom: -110px;
      left: -130px;
    }

    @media screen and (max-width: 1150px) {
      height: 310px;
      bottom: -105px;
      left: -90px;
    }

    @media screen and (max-width: 700px) {
      height: 265px;
      bottom: -65px;
      left: -65px;
      stroke-dashoffset: 820;
    }

    @media screen and (max-width: 576px) {
      height: 250px;
      bottom: -75px;
      left: -75px;
      stroke-dashoffset: 860;
    }

  }

  .vector-right {
    position: absolute;
    top: -250px;
    right: -250px;
    height: 600px;
    width: auto;
    z-index: 0;
    stroke-dasharray: 870;
    stroke-dashoffset: 650;

    @media screen and (max-width: 1700px) {
      height: 500px;
      top: -200px;
      right: -200px;
      stroke-dashoffset: 665;
    }

    @media screen and (max-width: 1550px) {
      height: 450px;
      top: -190px;
      right: -190px;
      stroke-dashoffset: 650;
    }

    @media screen and (max-width: 1300px) {
      height: 430px;
      top: -220px;
      right: -190px;
      stroke-dashoffset: 570;
    }

    @media screen and (max-width: 1150px) {
      height: 390px;
      top: -190px;
      right: -170px;
      stroke-dashoffset: 590;
    }

    @media screen and (max-width: 700px) {
      height: 340px;
      top: -180px;
      right: -160px;
      stroke-dashoffset: 550;
    }

    @media screen and (max-width: 576px) {
      height: 300px;
      top: -160px;
      right: -160px;
      stroke-dashoffset: 540;
    }

  }

}