header {
  position: fixed;
  padding: 19px 21px 19px 43px;
  top: 42px;
  left: 50%;
  width: 86.1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-50%);
  border-radius: $radius;
  z-index: 10;
  background-color: rgba(29, 39, 55, 1);
  transition: transform 1.2s $ease-power4-out;

  &.hide {
    transform: translate(-50%, -150px);
    transition: transform 0.85s $ease-expo-out;

    @media screen and (max-width: 1550px) {
      transform: translate(-50%, -135px);
    }

  }

  @media screen and (max-width: 1550px) {
    padding: 18px 20px 18px 40px;
    width: 88.1%;
    top: 32px;
  }

  @media screen and (max-width: 1300px) {
    width: 90.1%;
    top: 27px;
  }

  @media screen and (max-width: 650px) {
    top: 8px;
  }

  @media screen and (max-width: 576px) {
    padding: 13px 20px;
  }

  .logo {
    position: relative;
    height: 45px;
    width: 51px;
    object-fit: cover;

    @media screen and (max-width: 1550px) {
      height: 42px;
      width: 48px;
    }

    @media screen and (max-width: 576px) {
      height: 38px;
      width: auto;
    }

  }

  .right-part {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .link {
      position: relative;
      padding: 10px 16px;
      margin-right: 20px;
      font-family: "PP Pangram Sans Rounded medium", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0em;
      text-align: center;
      text-decoration: none;
      user-select: none;
      border-radius: 100px;
      background-color: transparent;
      transition: background-color 0.8s $ease-power4-out;
      color: $wheat;

      &:hover {
        background-color: rgba(56, 72, 100, 1);
      }

      @media screen and (max-width: 1800px) {
        font-size: 17px;
      }

      @media screen and (max-width: 1550px) {
        padding: 9px 14px;
        font-size: 16px;
        margin-right: 15px;
      }

      @media screen and (max-width: 1300px) {
        padding: 9px 13px;
        font-size: 15px;
        margin-right: 13px;
      }

      @media screen and (max-width: 1150px) {
        display: none;
      }

    }

    .user {
      position: relative;
      margin-right: 26px;
      padding: 19px 22px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      user-select: none;
      -webkit-user-drag: none;
      background-color: $blue;

      @media screen and (max-width: 1800px) {
        padding: 18px 21px;
      }

      @media screen and (max-width: 1300px) {
        padding: 15px 18px;
      }

      @media screen and (max-width: 650px) {
        padding: 10px 14px;
        margin-right: 10px;
      }

      @media screen and (max-width: 576px) {
        padding: 12px 15px;
        margin-right: 18px;
      }

      img {
        position: relative;
        height: 27px;
        width: 21px;

        @media screen and (max-width: 1800px) {
          height: 26px;
          width: 20px;
        }

        @media screen and (max-width: 1300px) {
          height: 20px;
          width: 15px;
        }

        @media screen and (max-width: 650px) {
          height: 19px;
          width: auto;
        }

        @media screen and (max-width: 576px) {
          height: 20px;
          width: auto;
        }

      }

    }

    a {
      position: relative;
      text-decoration: none;

      .reserve {
        position: relative;
        padding: 21px 44px 17px;
        border-radius: 10px;
        cursor: pointer;
        user-select: none;
        background-color: $green;
        transition: background-color 0.8s $ease-power4-out;

        @media screen and (max-width: 1300px) {
          padding: 14px 34px;
        }

        @media screen and (max-width: 1150px) {
          display: none;
        }

        p {
          position: relative;
          font-family: "PP Pangram Sans Rounded medium", sans-serif;
          font-size: 24px;
          font-weight: 600;
          line-height: 1;
          letter-spacing: 0;
          text-align: center;
          color: $blue;

          @media screen and (max-width: 1800px) {
            font-size: 22px;
          }

          @media screen and (max-width: 1300px) {
            font-size: 20px;
          }

        }

      }

      &:hover {

        .reserve {
          background-color: $dark-green;
        }

      }

    }

    .mobile-menu-wrapper {
      position: relative;
      height: 50px;
      width: 50px;
      display: none;
      cursor: pointer;
      border-radius: 10px;
      background-color: $pink;

      @media screen and (max-width: 1150px) {
        display: flex;
      }

      @media screen and (max-width: 576px) {
        height: 44px;
        width: 44px;
      }

    }

  }

}