#preparation {
  position: relative;
  padding: 72px 0 30px;
  width: 100%;

  .global-wrapper {
    position: relative;
    width: 27%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      position: relative;
      margin-bottom: 30px;
      font-family:"PP Pangram Sans Rounded bold", sans-serif;
      font-size: 46px;
      font-weight: 400;
      line-height: 52px;
      letter-spacing: 0em;
      text-align: center;
      color: $blue;
    }

    .lineToDot {
      position: relative;
      height: 50px;
      width: auto;

      &.margin-top {
        margin-top: 30px;
      }

    }

    .sub-title {
      position: relative;
      margin-top: 30px;
      font-family:"PP Pangram Sans Rounded bold", sans-serif;
      font-size: 28px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      color: $blue;

      span {
        color: $pink;
      }

    }

    .lineToArrow {
      position: relative;
      margin-top: 30px;
      height: 116px;
      width: auto;
    }

  }

}