#reservation {
  position: relative;
  width: 100%;

  .global-wrapper {
    position: relative;
    margin: 0 auto;
    height: 1090px;
    width: 86%;
    border-radius: $radius;
    background-color: $light-green;
  }

}