@font-face {
  font-family: "PP Pangram Sans Rounded";
  src: url("../public/font/Pangram/PPPangramSansRounded-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PP Pangram Sans Rounded medium";
  src: url("../public/font/Pangram/PPPangramSansRounded-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "PP Pangram Sans Rounded semi-bold";
  src: url("../public/font/Pangram/PPPangramSansRounded-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "PP Pangram Sans Rounded bold";
  src: url("../public/font/Pangram/PPPangramSansRounded-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Patsy Sans";
  src: url("../public/font/Patsy/PatsySans.otf");
  font-style: normal;
  font-weight: 400;
}

$pink: rgba(215, 102, 119, 1);
$wheat: rgba(254, 255, 246, 1);
$light-blue: rgba(131, 159, 220, 1);
$blue: rgba(56, 72, 100, 1);
$dark-blue: rgba(50, 64, 90, 1);
$light-green: rgba(237, 248, 238, 1);
$green: rgba(195, 224, 199, 1);
$dark-green: rgba(179, 212, 180, 1);
$radius: 15px;

$ease-expo-inOut: cubic-bezier(0.87, 0, 0.13, 1);
$ease-expo-out: cubic-bezier(0.16, 1, 0.3, 1);

$ease-power4-out: cubic-bezier(0.22, 1, 0.36, 1);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  &::selection {
    background-color: $pink;
    color: $wheat;
  }

}

html, body {
  scroll-behavior: auto;
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
  background-color: $wheat;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@mixin title {
  position: relative;
  font-family: "PP Pangram Sans Rounded bold", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  color: $blue;

  @media screen and (max-width: 1800px) {
    font-size: 60px;
  }

  @media screen and (max-width: 1550px) {
    font-size: 57px;
  }

  @media screen and (max-width: 1300px) {
    font-size: 51px;
  }

  @media screen and (max-width: 1150px) {
    font-size: 48px;
  }

  @media screen and (max-width: 992px) {
    font-size: 45px;
  }

  @media screen and (max-width: 750px) {
    font-size: 43px;
  }

  @media screen and (max-width: 650px) {
    font-size: 41px;
  }

  @media screen and (max-width: 576px) {
    font-size: 40px;
  }

}

@mixin semi-title {
  position: relative;
  font-family: "PP Pangram Sans Rounded bold", sans-serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  color: $blue;

  @media screen and (max-width: 1550px) {
    font-size: 42px;
  }

  @media screen and (max-width: 1150px) {
    font-size: 38px;
  }

  @media screen and (max-width: 576px) {
    font-size: 35px;
    margin-bottom: 20px;
  }

}

@import "header";
@import "masthead";
@import "demo";
@import "information";
@import "gallery";
@import "preparation";
@import "ressources";
@import "reservation";
@import "advice";
@import "footer";
@import "profil";